{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 10 Aug 2020 17:04:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F63281DF6\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Mon, 10 Aug 2020 17:04:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F6329FF9A\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:04 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940/test-directory-62133f27-9134-8109-1a67-a3fdb1c28384?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F6392E598\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940/test-directory-62133f27-9134-8109-1a67-a3fdb1c28384/test-directory-b075ad34-ca24-e21c-8515-6475e69de281?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F63A0FAB3\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940/test-directory-62133f27-9134-8109-1a67-a3fdb1c28384/test-directory-b075ad34-ca24-e21c-8515-6475e69de281/test-file-5f26e2dd-2c02-2190-9beb-76d57d4c4215?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F63B55AD9\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940/test-directory-62133f27-9134-8109-1a67-a3fdb1c28384/test-directory-724b34dc-63bf-b218-fb0d-4371c1e62855/test-file-527fef6b-ead4-4338-7129-2033033b567e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Aug 2020 17:04:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F63ED4102\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940/test-directory-62133f27-9134-8109-1a67-a3fdb1c28384?action=setAccessControlRecursive\u0026mode=remove",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktNjIxMzNmMjctOTEzNC04MTA5LTFhNjctYTNmZGIxYzI4Mzg0L3Rlc3QtZGlyZWN0b3J5LTcyNGIzNGRjLTYzYmYtYjIxOC1mYjBkLTQzNzFjMWU2Mjg1NS90ZXN0LWZpbGUtNTI3ZmVmNmItZWFkNC00MzM4LTcxMjktMjAzMzAzM2I1NjdlIiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjozfQo="
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-a1180206-98ab-80f9-059c-614217e48940?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Aug 2020 17:04:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2086607792",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\n\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}