{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 10 Aug 2020 17:03:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F5FE6CD9B\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:03:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Mon, 10 Aug 2020 17:03:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F5FE815A5\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:03:59 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82/test-directory-2cad5e99-6acc-92ad-2c13-e22e328da01f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F60754081\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82/test-directory-2cad5e99-6acc-92ad-2c13-e22e328da01f/test-directory-5b2c075b-29d5-27e7-a318-754db3050dd7?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F60839F26\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82/test-directory-2cad5e99-6acc-92ad-2c13-e22e328da01f/test-directory-5b2c075b-29d5-27e7-a318-754db3050dd7/test-file-6a6dfd43-b519-8929-f15a-876f88499d71?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F60944923\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82/test-directory-2cad5e99-6acc-92ad-2c13-e22e328da01f/test-directory-723a3829-9b06-ca86-2153-cfb791bd34f5/test-file-5ac14d07-7a6f-85e7-7333-df3c87596cf6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Aug 2020 17:04:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83D4F60D357E5\u0022",
        "Last-Modified": "Mon, 10 Aug 2020 17:04:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82/test-directory-2cad5e99-6acc-92ad-2c13-e22e328da01f?action=setAccessControlRecursive\u0026mode=remove",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktMmNhZDVlOTktNmFjYy05MmFkLTJjMTMtZTIyZTMyOGRhMDFmL3Rlc3QtZGlyZWN0b3J5LTcyM2EzODI5LTliMDYtY2E4Ni0yMTUzLWNmYjc5MWJkMzRmNS90ZXN0LWZpbGUtNWFjMTRkMDctN2E2Zi04NWU3LTczMzMtZGYzYzg3NTk2Y2Y2IiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjozfQo="
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-a9470303-c939-d701-4632-87b2b5693b82?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Aug 2020 17:04:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1694560552",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\n\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}