{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:44 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E4948349\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0/test-file-aef67669-4917-7276-52e9-448837b47188?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E4E9AA19\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0/test-file-aef67669-4917-7276-52e9-448837b47188?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "86ATHksafJQP9b1h4z5FDf0qWXxIiSkQBQE/af99KKEG4xdVdpuNT/liniKMFY8TpDeKDVv0QGp2AxlK[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0/test-file-aef67669-4917-7276-52e9-448837b47188?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E4FB1E41\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0/test-file-aef67669-4917-7276-52e9-448837b47188",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E4FB1E41\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0/test-file-aef67669-4917-7276-52e9-448837b47188",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E4FB1E41\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "EbNUOUM1vaKVVK8qqAQ24Y1MaysYv3ddiHZRBJ4Go2gpOU\u002ByDJAF\u002Bqx/49yn4VVBSXubeRfpolE897DN5LkDjrBHAW60hNT8R3F\u002BmNyatqchELsjaypQP5b9dhXfOBbzfFQsYODmjMWmnjKmawp1oUEJq9P\u002B3yOG9sHYtg2\u002BHQ4="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0/test-file-aef67669-4917-7276-52e9-448837b47188",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6E4FB1E41",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-range": "bytes=640-767",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 640-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E4FB1E41\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "W4obh25VxzuD9nzM96rUjIjU1NaMQvWcMaZqHg7Vt\u002BeBI0rg7u0y60JwUAdjV45L7UsuOOpGghmVf1bI66gtrj6UStRf852aoeiUHPLtOdoXHjDCpn79O6ExS2\u002BXagCZQ6HIzgy57PqtlJYBsmUnp0V8sMx3agfAlw8zLacuAzc="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-db249cc1-3a41-6378-c72a-e06d9bbfacd0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1345613191",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}