{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:05 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6CD962EED\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:06 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f/test-file-343e7248-55c2-0e20-0344-e0e9a9a946c3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6CED06432\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f/test-file-343e7248-55c2-0e20-0344-e0e9a9a946c3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "9UIFsLwsKBjkQFTvUtNcMcGJdynmk9jWwdUPEhMfSHqkzYk0zsywG0klUIEAMbsv6K8nHzIc3GJqL\u0[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f/test-file-343e7248-55c2-0e20-0344-e0e9a9a946c3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6CEE3A66B\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f/test-file-343e7248-55c2-0e20-0344-e0e9a9a946c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6CEE3A66B\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f/test-file-343e7248-55c2-0e20-0344-e0e9a9a946c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:09 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6CEE3A66B\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "9UIFsLwsKBjkQFTvUtNcMcGJdynmk9jWwdUPEhMfSHqkzYk0zsywG0klUIEAMbsv6K8nHzIc3GJqL\u002B/nHRYFxPfaS4RKKGL02VvfwUJW1ZAZ3ylj9ylIh/AmyZ/dyf4yH4uJJuY25L9NMkbWPBsfE1lfzj7soszOkcOTI17CFxA="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f/test-file-343e7248-55c2-0e20-0344-e0e9a9a946c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6CEE3A66B",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:09 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6CEE3A66B\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "Xa2htsyuquL6ahXF43JK1Qe2RX76wEZ9v7uVIqLAYIsbNXmPemhGq7TrQ4KMB\u002BsfeL4cqHyZFZ1mI/cRGIc/OQmJqa34u1qeb5rJD3zD8LfPdqrkpLgPgh/cKFZwNZMtrAl4A149Jr1kfTnizwYgozNAQaLdW5VReieNHJIDLjk="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e61856f2-a028-e268-e8be-dd31929f3f7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:09 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1174180887",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}