{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E574E7A8\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934/test-file-a4c68518-db99-61aa-1fcf-ad10f2baf4f2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E5CAB61E\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934/test-file-a4c68518-db99-61aa-1fcf-ad10f2baf4f2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "EhOhGYQ8pmighS7A6bZJ61zwghZb3hwtPVXUT1Kt0kOOmKKRHs5X6cAfK5I3/72D\u002B56aroOyJDT[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934/test-file-a4c68518-db99-61aa-1fcf-ad10f2baf4f2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E5DE4B8D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934/test-file-a4c68518-db99-61aa-1fcf-ad10f2baf4f2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E5DE4B8D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934/test-file-a4c68518-db99-61aa-1fcf-ad10f2baf4f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E5DE4B8D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "EhOhGYQ8pmighS7A6bZJ61zwghZb3hwtPVXUT1Kt0kOOmKKRHs5X6cAfK5I3/72D\u002B56aroOyJDT2dNsuZ1cW8rLqMVEUuMyNmZlVPLOJ9T6YUVS0EyPA23RtmqnyKYFpCDjfTM1sb0PRDBXqXOeBbH6dlhYCYd\u002BOKlbdph0im28Y7DN6qqlwK\u002BIR4gYO1X6M7C0rVZNqZqdZUCF3jw=="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934/test-file-a4c68518-db99-61aa-1fcf-ad10f2baf4f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6E5DE4B8D",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-range": "bytes=157-313",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 157-313/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E5DE4B8D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "yCWvcaXScLMGwtUtajTxf9iAVddQuu/3RtythYwhWYf4nBnrM5VoAw7Y5WtVJyg1dSeAz8ygPg41tyrIJOom5WhNNM0bBUtCGFHJd9SEoR60dxBkoIm6WF4KtXtqn98jsv8CB/NbGnDcPrd718Y6sRYMFKzawUTek9xvEU/P13lypcXUgZkrWF2giGLSP4GXzwRlXooySfC7JHQW7A=="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-79f74544-0217-ed6c-ab43-cba87de3a934?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "511403007",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}