{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-ffce37d9-5d22-4099-6a22-fb483869f020?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:19 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D5A5C2FB\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-ffce37d9-5d22-4099-6a22-fb483869f020/test-file-a696a6cf-14bb-a3aa-5650-835189b7ec23?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D61C7C59\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-ffce37d9-5d22-4099-6a22-fb483869f020/test-file-a696a6cf-14bb-a3aa-5650-835189b7ec23?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "j/E0q96zUSM0RySLURelWqxn1So/BpHgU3am52UJd6\u002BOWvKp2sq1v70GtEcXZl3LVPVNqFbecoh[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-ffce37d9-5d22-4099-6a22-fb483869f020/test-file-a696a6cf-14bb-a3aa-5650-835189b7ec23?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D62FA14D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-ffce37d9-5d22-4099-6a22-fb483869f020/test-file-a696a6cf-14bb-a3aa-5650-835189b7ec23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D62FA14D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-ffce37d9-5d22-4099-6a22-fb483869f020/test-file-a696a6cf-14bb-a3aa-5650-835189b7ec23",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D62FA14D\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "j/E0q96zUSM0RySLURelWqxn1So/BpHgU3am52UJd6\u002BOWvKp2sq1v70GtEcXZl3LVPVNqFbecohgVFdoDWm9K9B1/Pcl\u002B3/isRVtOFFJye0Y2pNwvM5ZsOhpSYZyTbJTSIl2ompmplh1avZAcTk2FopqTzLWTW8CG0wOvLL4b2RjGe/I0yaDsTQ6\u002BlHYGT\u002BuMjL7CP2AffsadIYdV\u002BqmffuR3VdJbkJj5539m1MdKQINYIl//Gdn4pv0rV\u002BgZVpKlH1WRjvnZMPvlyBfg\u002BKn/EqEEPdgJoCTKvq7VcDjw4FDsgbWx\u002BPGJfzFj2VGB1\u002B5TbEVG1Vi6W38whxALA8DDA=="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-c200deb2-58af-633b-5202-f8d6f1348061/test-file-ab2e4a91-be4d-8919-fbed-c44454cf3be8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 20 Sep 2020 06:23:19 GMT",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:22 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D722E7A9\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65e5c300-cdef-2d7d-a750-003858c98176/test-file-0bc3ff6f-0928-f2d7-7225-291e13bef123",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 22 Sep 2020 06:23:19 GMT",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:23 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D7F778E7\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-16cd7682-c5a1-02f6-3cf5-239e2eaed30e/test-file-8ead6861-3da0-59cc-1edf-fc5a32da117f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D85DF6DA46FD61\u0022",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:28 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6DA46FD61\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-44d5c855-c121-4c18-b5ff-7bd94717f415/test-file-89fa6ba8-5530-21e3-7627-ff741b6b7dc3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:30 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "ee890744-2cd3-57af-976c-0e176c5e35be",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6DC3C6183\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:31 GMT",
        "x-ms-lease-id": "ee890744-2cd3-57af-976c-0e176c5e35be",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-44d5c855-c121-4c18-b5ff-7bd94717f415?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:31 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-21T01:23:19.5082634-05:00",
    "RandomSeed": "1049471014",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}