{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:38 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E112CC1F\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6/test-file-697847f1-80d8-c255-5799-aa2ec17ad1b3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E13C62D7\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6/test-file-697847f1-80d8-c255-5799-aa2ec17ad1b3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "s6dkiYWQ6JLumFVjRU5vRatVGQTh7LZFCImJVN3m4xIX8gGZvmE4YV7mez8r8X0IKmSDbGDN0cbwH4D7[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6/test-file-697847f1-80d8-c255-5799-aa2ec17ad1b3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E14F86C3\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6/test-file-697847f1-80d8-c255-5799-aa2ec17ad1b3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E14F86C3\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6/test-file-697847f1-80d8-c255-5799-aa2ec17ad1b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E14F86C3\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "s6dkiYWQ6JLumFVjRU5vRatVGQTh7LZFCImJVN3m4xIX8gGZvmE4YV7mez8r8X0IKmSDbGDN0cbwH4D7BpS0B7VCTFJN1YdKHbil\u002B3F2GhYMgCp5Y3eySSA6qJ/gPFrJMXSK6KQqu1TdOE6oJ9VVegVp7oVqO6M9jwIxEy3oaeA="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6/test-file-697847f1-80d8-c255-5799-aa2ec17ad1b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6E14F86C3",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E14F86C3\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "XtvJ/ewxcuHF1ZsqKAoiS\u002BQumXZN1F/20ExZovioJvXPbklLC1iN1PcNwJSfeRSF4OYu/07ykol80yyg18/pHa6mW7rA1j\u002BMocV/QBPLV1c308ESeSem3NvAzzgr7PwnI6Pl\u002BB1axAmmol2Ic1F2sXzVaAMO16OH/37eAAcHYLQ="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-13495aad-d4c4-1c84-0d09-3529e7d170d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:40 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "389482498",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}