{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:10 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D036DDCD\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:10 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a/test-file-b9e8056b-a0f6-524f-fe20-7b52a4dea0fa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:10 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D06C3A98\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a/test-file-b9e8056b-a0f6-524f-fe20-7b52a4dea0fa?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "YQIVsZQhU6RQiJgq\u002BeurdR3mepCHbqTAp0m89rcrmE4Q8q\u002B\u002BDyf0SbJEaW0IJFkSd[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a/test-file-b9e8056b-a0f6-524f-fe20-7b52a4dea0fa?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D07E6263\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a/test-file-b9e8056b-a0f6-524f-fe20-7b52a4dea0fa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D07E6263\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a/test-file-b9e8056b-a0f6-524f-fe20-7b52a4dea0fa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D07E6263\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "YQIVsZQhU6RQiJgq\u002BeurdR3mepCHbqTAp0m89rcrmE4Q8q\u002B\u002BDyf0SbJEaW0IJFkSdAY1vWMQcvJdVQpLZV3tJfBKGgY87GX18jDdQwU3t4PvqoGw9drq/4C8YbodqORVVkN8vglT1YehQMszMi7tJp2GXLvbPC8VXxqFgIur10lMiO3Buvl5nNT6D7UPt81RzzoclkwoeRkTZl7vzVX79WiB5qlBK2ykDcDm4C16BqhNNLBRjkD9Iw7TrVOaic5//hlNjtAjEKPNeImMQpnsmWC2oZmkqmcng8KbbX0ZCYPxZ\u002BITLHjXKiMNgxW3ceF15xTy5Og121SyJQoOiKImtG8Fm9q32Gzo33d1lyZRcBLhJYZpJiWbu4yNYQdtyKKA5s6msdUGvg6nCgRwv0MtYLT3LGIcvI5Kat9OKXdlehbU9bBYq7482mZ3whwgKvxIYAFSdpw/ZClAXEf2uJWXQpDtnMqT1bT2ulL8pPpyKT/iBcl1EgN6lZGGGE92RiHR4H\u002BLM44ytYtMXLxJQ78uzjMIE7LMITCMcgY5DL1lf3QwKsN75vWxsFA9KbVHMVHRWEkcbjJvBb5P/8CH\u002BanO591IGRn7s\u002Bc9V2Nijvh6REG0Z7RzSRBBwSUFK\u002BY1Kbenb0HX/xc41aRi3hfODHbG1bt\u002B05H0W53NBlf09ogBCC0="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a/test-file-b9e8056b-a0f6-524f-fe20-7b52a4dea0fa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6D07E6263",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b76f7508-d01e-0077-44df-8f9834000000\n",
        "Time:2020-09-21T06:23:11.8265968Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-168cfa38-1449-37c3-6a89-9c76a830dc6a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:11 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2071816341",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}