{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-bcc7278a-14a5-d5b0-61fd-c54203e12de4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:40 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6BEC2FAC0\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-bcc7278a-14a5-d5b0-61fd-c54203e12de4/test-file-d352f2c7-87d9-a0f9-6ae2-dd4e89a92428?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6BF7167AF\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-bcc7278a-14a5-d5b0-61fd-c54203e12de4/test-file-d352f2c7-87d9-a0f9-6ae2-dd4e89a92428?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "T3CyHWhKHzoXzhKZlAiDEIO0KIOJ7hNQt2vnpgEwKhWJtFjhnlyoz2AdJwIRUmj99T1cGWz/Q2FcYWX9[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-bcc7278a-14a5-d5b0-61fd-c54203e12de4/test-file-d352f2c7-87d9-a0f9-6ae2-dd4e89a92428?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6BF875D3C\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-bcc7278a-14a5-d5b0-61fd-c54203e12de4/test-file-d352f2c7-87d9-a0f9-6ae2-dd4e89a92428",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6BF875D3C\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-bcc7278a-14a5-d5b0-61fd-c54203e12de4/test-file-d352f2c7-87d9-a0f9-6ae2-dd4e89a92428",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:43 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6BF875D3C\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:22:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "T3CyHWhKHzoXzhKZlAiDEIO0KIOJ7hNQt2vnpgEwKhWJtFjhnlyoz2AdJwIRUmj99T1cGWz/Q2FcYWX9Y3g556T9D\u002BCwonEmDFkia8YQP2UC6rDD1BCoinH2hD33qmzo4z9eE0KITFPMNQ0S3NeaTCH/\u002B3jIdROTVIVvuR00L2LtOoeGsSwjeZ1d954Dlq2ZXDcb96/zH20syr\u002B9GZM2mAWrJaFPE5r13IHban50kL7X1V3lGDey\u002BRoaWudsZmAJJl\u002BZWHALSkidJRstGLXvtzkA5UM2UH/N\u002BCyHNbmziHYh0UMe2zhOy4sVSPIcheFlKqOta4Ac09bfy2BDhBWO6Q=="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-4aacd89c-d5e2-16f9-f6c3-ded42ef3b11d/test-file-e3be2751-9203-ab0b-1782-7f5c12d3f622",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 20 Sep 2020 06:22:40 GMT",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6C268F8DC\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:22:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-1f53eb8e-7ccf-4f43-05d4-98d32b9fbc8a/test-file-f07624f6-18c9-118e-df15-b2405ad22be5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 22 Sep 2020 06:22:40 GMT",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:49 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6C3BE7614\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:22:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2c9f5fcb-1444-7daa-26f4-70865bb30002/test-file-f7404da8-d28d-64ab-1e81-a0b7b4d4b66b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D85DF6C468C9C2\u0022",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:51 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6C468C9C2\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:22:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-64af3d95-77f4-cb5c-a154-9833a528b903/test-file-275c992b-9c6d-22e4-423e-6b4507d246f1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:55 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "44dc8fa7-cf29-ce47-84e4-4a3f89323b35",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6C6EA6941\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:22:55 GMT",
        "x-ms-lease-id": "44dc8fa7-cf29-ce47-84e4-4a3f89323b35",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-64af3d95-77f4-cb5c-a154-9833a528b903?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:22:56 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-21T01:22:40.6761985-05:00",
    "RandomSeed": "1904999866",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}