{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:40 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E22FCC4B\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b/test-file-c5c76e93-ccca-2ea6-0ddc-e5750da68f44?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E2ABC325\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b/test-file-c5c76e93-ccca-2ea6-0ddc-e5750da68f44?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "PLB21qMM4KGe7sTybmoPc4lfSEMZyBINtxlwfp8KOy7TkSSggTmbh44mJ9wIs8CizXLsrl5MKnSdaB\u[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b/test-file-c5c76e93-ccca-2ea6-0ddc-e5750da68f44?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6E2BD6816\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b/test-file-c5c76e93-ccca-2ea6-0ddc-e5750da68f44",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E2BD6816\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b/test-file-c5c76e93-ccca-2ea6-0ddc-e5750da68f44",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:42 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6E2BD6816\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "PLB21qMM4KGe7sTybmoPc4lfSEMZyBINtxlwfp8KOy7TkSSggTmbh44mJ9wIs8CizXLsrl5MKnSdaB\u002BKm2IBlLKVH91GbvFPw8C186A2BQNYzrEtHYzQh2avAxgaEOssJZIpcpTiW16AnOudljfUZ2MbMcyw03YmxZd3l2vYNbLUic0NDJNvdnNSrIGhMvEu25u1/t8fe1EcA6z8asTzqGc4yAxpxlrPrLtZXSf1hJOmSbvPIzbTtQ588QnncguuXwQaaGrkxBVA5VIjxR0qJ34ZViEIJIUwZRL\u002B7dRR6Dmwqv4i2xwowYSmjz3jr\u002B/wUsqKzhvppjt/6QJX5tdA7v0ZcxsfB0th8JWdYpRHTLUjDpsKxhodxgTDo/EZ0dqtZaBAyjzU0Ep\u002BKd6GTEOmN5xNM9g8Nifi\u002B6wWW2RaRx667/z0B4F4Tz1Qi508l3rBHWtUzJ0CcS94Xc\u002BPvXTlJOG/y1xHsTAa1OSa66qKpmQyVT75BXuAuH7MfKqy6ZHIame8fMwdeWw7Ofe5aIWF7rZqXWg27B9lPxPdejWFaOtT0YBCzSqXFNvSvcuDx0/5R430SIwpkn1IVj24QP82tdEMZZYEQiCM0kiMZC5T4njD5DOnkR9fKj8D\u002Bnft39Tcmwj5d2G59ARtaHVDnC1P9HTF9VzLjySxrDtWAUipnvM="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b/test-file-c5c76e93-ccca-2ea6-0ddc-e5750da68f44",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6E2BD6816",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:42 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:63592167-701e-0033-39df-8f120b000000\n",
        "Time:2020-09-21T06:23:42.5136342Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-503cd973-ac0f-4281-26cb-8c5033eb8a3b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:42 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "279971429",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}