{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:13 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D1E5CD29\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:13 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b/test-file-621fc230-dd15-2844-1400-7889c750bba3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D2728A7E\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b/test-file-621fc230-dd15-2844-1400-7889c750bba3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "Gb2rUITmP1I2K9qq/59JTYMt8fkvAhQvrS6560NU59mTqYppvM82SoLMLOoCmSl1tisFml/CcxeofKNW[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b/test-file-621fc230-dd15-2844-1400-7889c750bba3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D2840488\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b/test-file-621fc230-dd15-2844-1400-7889c750bba3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D2840488\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b/test-file-621fc230-dd15-2844-1400-7889c750bba3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:15 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D2840488\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "Dk/AlIoUmAR64HxnysgTOz/7emfbpjXnmyHJ/OBp/HpGQfjpX3q10e52Itf742O8TrSlHoKqjmgZ2PloSpwjEOQCIInPKtzERqh4ZYNe7Le\u002BDa4sw973m7KQ0IeBTYdSUhLz\u002BcLa7SPY4djZMSjku\u002BtBqj3t90wGCoXWPllUQ/k="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b/test-file-621fc230-dd15-2844-1400-7889c750bba3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6D2840488",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:15 GMT",
        "x-ms-range": "bytes=640-767",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 640-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D2840488\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "ISYScWrz9eMfilTiBR5piawVmz\u002BjSWRbxe3uPAOuyoOd37gLFnJQ\u002BEvGHWOiaQDsHEySRLkDVtfBt6x9BLngcb/QRSZmXXM5xKL03CwAuFzsAiC2G4XJmojgSV7G0/OS5ayj0STZhb7ZWX8WD3mrwP5PkAKYKVU5B6qdhhMUc/E="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2e725874-b02d-7772-f27e-e8b842dcb42b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:15 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "549780040",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}