{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:15 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D352F116\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:16 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268/test-file-02f95a0b-dc68-47d8-4ec9-c60e66ed9d09?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:16 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D4088746\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268/test-file-02f95a0b-dc68-47d8-4ec9-c60e66ed9d09?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "/FfcD\u002BO6OvhAqU4m/uGFtdmTFZXpipXnI7JO1yrwtOEq62D2ZIeBllFZSCnJHNbX45lRXFFc3nL[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268/test-file-02f95a0b-dc68-47d8-4ec9-c60e66ed9d09?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85DF6D41C372F\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268/test-file-02f95a0b-dc68-47d8-4ec9-c60e66ed9d09",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D41C372F\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268/test-file-02f95a0b-dc68-47d8-4ec9-c60e66ed9d09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D41C372F\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "/FfcD\u002BO6OvhAqU4m/uGFtdmTFZXpipXnI7JO1yrwtOEq62D2ZIeBllFZSCnJHNbX45lRXFFc3nLC9ewwbGLNT/Vt\u002BxKAjlBREn5Dj0FrHQbcd/SRnliQzgzuNG\u002BbUCrvjPg0XCHDVlRI/0nSGU8wVtflVPRtO7Gc3C0FklrhtsFTUwJINsHlGCCgSJ8OvbS9vd2Ytfw1gVBHmH/0vQ=="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268/test-file-02f95a0b-dc68-47d8-4ec9-c60e66ed9d09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85DF6D41C372F",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-range": "bytes=157-313",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 157-313/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85DF6D41C372F\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Sep 2020 06:23:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "w/lnSYd\u002BxUzoIBUAO9PN8xGNHnhI1XxIAMUd0rIBnkLxWl2m4FWGPu9w1b2CtcBitF01CmB7de59H0jCYfOa54HTD\u002BB2JhO8B9\u002BJ1wC\u002BxksFux1Vy5PhdeVuKcENxN381u48rqXg641KeQOA8p3uvlj9vKXVRRvt8Zn7B/1Rr0ICjAESghelJdCPC1GQYYNHgGpoDwc4JpHSTrwM5A=="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-964e5a72-b243-d33d-f670-f966213a1268?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Sep 2020 06:23:18 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1834449594",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}